* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #EFDADA;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.login {
    background-color: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    width: 470px;
}


h1 {
    color: #000000;
    font: normal 700 30px/35px 'Roboto', sans-serif;
    margin-bottom: 74px;
}

.e-mail,
.password {
    display: flex;
    flex-direction: column;
}

label {
    font: normal 500 14px/16px 'Roboto', sans-serif;
    margin-bottom: 20px;
}

input {
    border: 1px solid #4E4E4E;
    border-radius: 5px;
    font: normal 500 14px/16px 'Roboto', sans-serif;
    height: 46px;
    margin-bottom: 20px;
    padding: 15px;
    width: 350px;
}

.password {
    margin-bottom: 42px;
    position: relative;
}

.form-input-eye {
    bottom: 30px;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

button {
    align-items: center;
    background-color: #13A1F0;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font: normal 700 14px/16px 'Roboto', sans-serif;
    justify-content: center;
    padding: 13px 37px;
}